<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Info List</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<form action="/", method="GET">
    <input type="submit" value="Go back"/>
</form>
<div>
    <table style="float:center">
            <tr>
                <th>Company Name</th>
                <th>Symbol</th>
                <th>Sector</th>
                <th>Industry</th>
                <th>IPO Year</th>
                <th>NASDAQ Website</th>
            </tr>
            {% for each in companys %}
            <tr>
                <th>{{each['Name']}}</th>
                <th>{{each['Symbol']}}</th>
                <th>{{each['Sector']}}</th>
                <th>{{each['industry']}}</th>
                <th>{{each['IPOyear']}}</th>
                <th>{{each['Summary Quote']}}</th>
            </tr>
            {% endfor %}
    </table>
</div>
<br>
</body>
</html>