<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NASDAQ Stock Info</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <!--Refresh the search result-->
    <script>
        function update(url) {
            $.ajax({
                type:"POST",
                url : url,
                dataType: "html"
                success: function(data) {
                    $("div1").html(data);
                },
                error:function() {
                    $("div1").html("failure");
                }
            });
        } 
    </script>
</head>
<body>
    <h1>NASDAQ Stock Info</h1>
    <form action="/", method="POST"， style="float:left">
        <center><label style="Color: Yellow">Enter Symbol Codes here :</label>
        <input type="text" name="stockList" placeholder="eg: GOOGL, AMZN, YI || AMZN" size=80/>  
        <button onclick="update(/data)">Search</buttom></center>
    </form>
    <form action="/companyInfo", method="POST", style="float:left">
        <input type="submit" value="Company List"/>
    </form>
    <form action="/update", method="POST">
        <input type="submit" value="Update"/>
    </form>
    <br/><br/>
    
    <div id = "data">
        <table style="float:center">
            <tr>
                <th>Company Name</th>
                <th>Symbol</th>
                <th>Best Bid/Ask</th>
                <th>1 Year Target</th>
                <th>Today's High/Low</th>
                <th>Share Volume</th>
                <th>50 Day Avg. Daily Volume</th>
                <th>Previous Close</th>
                <th>52 Week High/Low</th>
                <th>Market Cap</th>
                <th>P/E Ratio</th>
                <th>Forward P/E (1y)</th>   
                <th>Earnings Per Share (EPS)</th>   
                <th>Annualized Dividend</th>
                <th>Ex Dividend Date</th>
                <th>Dividend Payment Date</th> 
                <th>Current Yield</th>
                <th>Beta</th>
            </tr>
            {% for each in crawler %}
                <tr>    
                    <td> {{each['Company']}} </td>
                    <td> {{each['Symbol']}} </td>
                    <td> {{each['Best Bid/Ask']}} </td>
                    <td> {{each['1 Year Target']}} </td>
                    <td> {{each['Today\'s High/Low']}} </td>
                    <td> {{each['Share Volume']}} </td>
                    <td> {{each['50 Day Avg  Daily Volume']}} </td>
                    <td> {{each['Previous Close']}} </td>
                    <td> {{each['52 Week High/Low']}} </td>
                    <td> {{each['Market Cap']}} </td>
                    <td> {{each['P/E Ratio']}} </td>
                    <td> {{each['Forward P/E (1y)']}} </td>
                    <td> {{each['Earnings Per Share (EPS)']}} </td>
                    <td> {{each['Annualized Dividend']}} </td>
                    <td> {{each['Ex Dividend Date']}} </td>
                    <td> {{each['Dividend Payment Date']}} </td>
                    <td> {{each['Current Yield']}} </td>
                    <td> {{each['Beta']}} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html> 